<?xml version="1.0"?>
<config xmlns:xsi="https://www.w3.org/XML/Schema" xsi:noNamespaceSchemaLocation="https://belvg.com/blog/using-layout-and-xml-schema-in-magento-2.html">
  <module name="TwentyToo_AutoTag">
    <sequence>
      <module name="Magento_Catalog"/> </sequence>
    <setup_version>1.1.14</setup_version>
  </module>
</config>